@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;500;600;700&display=swap');

:root {
   --ibmPlexSans: 'IBM Plex Sans', sans-serif;
   --boxShadow: 0 14px 21px -5px rgba(7,10,44, .25);
}

* {
   box-sizing: border-box;
   margin: 0; padding: 0;
}
body {
   background-color: #2C2D45;
   font-family: var(--ibmPlexSans);
   color: #FFF;
   padding: 80px 0;
}
.container {
   width: 900px;
   margin: 0 auto;
}
.upper {
   display: flex;
   justify-content: space-between;
}
.upper ul {
   width: 235px;
   margin-left: 20%;
}
.upper ul li {
   position: relative;
   list-style: none;
   font-size: 18px;
   padding: 20px 30px;
   font-weight: 500;
   border-radius: 10px;
   cursor: pointer;
}
.upper ul a {
   color: #4378FF;
   font-size: 16px;
   font-weight: 500;
   margin-left: 30px;
   text-decoration: none;
   margin-top: 20px;
   display: block;
}
.upper ul a:hover {
   text-decoration: underline;
}
.upper div {
   background-color: #353854;
   width: 262px;
   display: flex;
   flex-direction: column;
   align-items: center;
   border-radius: 10px;
   justify-content: center;
   height: 320px;
   box-shadow: var(--boxShadow);
   margin-top: 14%;
}
.upper div h3 {
   font-size: 18px;
   font-weight: 700;
}
.upper div p {
   text-align: center;
   font-size: 16px;
   font-weight: 500;
   padding: 30px 25px;
   margin-bottom: 20px;
}
.upper div button {
   display: block;
   color: #2A2C43;
   padding: 14px 20px;
   font-size: 16px;
   font-weight: 600;
   background-color: #F8BD66;
   border-radius: 5px;
   border: none;
   outline: none;
   cursor: pointer;
}
.selected {
   background-color: #353854;
   box-shadow: var(--boxShadow);
}
.footer {
   display: inline-block;
   margin-top: 25px;
}
.footer h1 {
   font-size: 26px;
   font-weight: 600;
   padding: 5px 0;
}
.footer > p {
   font-size: 20px;
   font-weight: 500;
   margin-bottom: 55px;
}
.footer div:first-of-type, .footer div:last-of-type {
   float: left;
   width: 358px;
   padding: 30px 45px;
   cursor: pointer;
   border-radius: 10px;
}
.footer div:first-of-type {
   float: left;
   width: 358px;
   background-color: #353854;
   padding: 30px 45px;
   margin-right: 25px;
   box-shadow: var(--boxShadow);
}
.footer div:first-of-type h3, .footer div:last-of-type h3 {
   font-size: 18px;
   font-weight: 700;
   text-decoration: underline;
   margin-bottom: 15px;
}
.footer div:first-of-type p, .footer div:last-of-type p {
   font-size: 16px;
   font-weight: 500;
}
li span {
	width: 3px;
	height: 70%;
	background-color: #F8BD66;
	border-radius: 3px;
	position: absolute;
	left: 10px;
	top: 15%;
}
.footer div:last-of-type:hover {
   background-color: rgba(53,56,84, .45);
}


.upper div button:active {
   box-shadow: 0 -1px 1px 1px rgba(176, 113, 18, .8) inset;
}

